#contacts-section {
  padding: 100px 0;
  background-color: #2D5413;
  color: #ffffff;
}


.phone-address-wrapper {
  font-size: 20px;
  margin: 60px 0;
}

.phone-address-wrapper>a {
  display: block;
  margin-bottom: 5px;
}

.contacts-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contacts-social-icons a:hover>img {
  filter: invert(1);
}

@media screen and (max-width: 1599px) {
  #contacts-section {
    padding: 70px 0;
  }
}

@media screen and (max-width: 767px) {


  .phone-address-wrapper {
    font-size: 16px;
  }

  .contacts-social-icons {
    gap: 15px;
  }

  .contacts-social-icons>a {
    max-width: 22px;
  }

  .contacts-social-icons>a>img {
    max-width: 100%;
  }
}