header {
  display: flex;
  align-items: center;
  background-color: #2D5413;
  height: 60px;
  color: #ffffff;
}

header>.container {
  display: flex;
  align-items: center;
  width: 100%;
}


.header-nav a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-nav a:hover {
  color: #000000;
}

.logo {
  margin-right: 40px;
}

.logo a:hover>img {
  filter: invert(1);
}

.header-nav a:not(:last-child) {
  margin-right: 30px;
}

.languages {
  /* opacity: 0; */
  margin-left: auto;
}

.languages>span:first-child {
  margin-right: 10px;
}