#education-section {
  padding-bottom: 150px;
  background-image: url("../../../public/assets/education-background.svg");
  background-repeat: no-repeat;
  background-position: 98% top;
}


#education-section .text-paragraph-item::before {
  background-image: url("../../../public/assets/education-pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
}