#education-section {
  padding-bottom: 100px;
  background-image: url("../../../public/assets/education-background.svg");
  background-repeat: no-repeat;
  background-position: 98% top;
  background-size: 350px;
}


#education-section .text-paragraph-item::before {
  background-image: url("../../../public/assets/education-pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1599px) {
  #education-section {
    padding-bottom: 70px;
    background-size: 240px;
  }
}