#skills-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #83A26C;
}

#skills-section h2 {
  margin-bottom: 130px;
}

#skills-section h2,
.skill-item {
  color: #ffffff;
}

.skill-container {
  position: relative;
  margin: auto;

}

.skill-background-image {
  position: absolute;
  width: 380px;
  height: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../public/assets/skills-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotating 14s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.skill-item {
  position: absolute;
  border-radius: 50%;
  width: 120px;
  line-height: 120px;
  height: 120px;
  background: #2D5413;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  font-size: 20px;

}

@media screen and (max-width: 1599px) {
  #skills-section {
    padding-top: 70px;
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 1199px) {

  #skills-section h2 {
    margin-bottom: 95px;
  }

  .skill-item {
    width: 100px;
    line-height: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  #skills-section {
    margin-top: 0;
  }

  .skill-background-image {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 767px) {
  #skills-section h2 {
    margin-bottom: 65px;
    padding: 0 20px;
  }

  #skills-section {
    padding-top: 30px;
    border-top: 60px solid transparent;
    margin: -60px 0 0;
    background-clip: padding-box;
    padding-bottom: 100px;
  }

  .skill-item {
    width: 72px;
    line-height: 72px;
    height: 72px;
    left: calc(50% - 36px);
    top: calc(50% - 36px);
    font-size: 12px;
  }

  .skill-background-image {
    width: 215px;
    height: 215px;
  }
}

@media screen and (max-width: 449px) {
  #skills-section h2 {
    margin-bottom: 50px;
  }

  #skills-section {
    padding-bottom: 75px;
  }

  .skill-item {
    width: 58px;
    line-height: 58px;
    height: 58px;
    left: calc(50% - 28px);
    top: calc(50% - 28px);
    font-size: 10px;
  }

  .skill-background-image {
    width: 155px;
    height: 155px;
  }
}

@media screen and (max-width: 374px) {
  .skill-item {
    width: 52px;
    line-height: 52px;
    height: 52px;
    left: calc(50% - 26px);
    top: calc(50% - 26px);
    font-size: 9px;
  }

  .skill-background-image {
    width: 135px;
    height: 135px;
  }
}