#projects-section {
  padding: 100px 0;
}

.project-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
}

@media screen and (max-width: 1599px) {
  #projects-section {
    padding: 70px 0;
  }

  .project-grid-wrapper {
    gap: 60px;
  }
}