#skills-section {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #83A26C;
  display: none;
}

#skills-section h2 {
  margin-bottom: 130px;
}

#skills-section h2,
.skill-item {
  color: #ffffff;
}

.skill-container {
  position: relative;
  width: 650px;
  height: 650px;
  margin: auto;

}

.skill-background-image {
  position: absolute;
  width: 380px;
  height: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../public/assets/skills-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotating 14s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.skill-item {
  position: absolute;
  border-radius: 50%;
  width: 120px;
  line-height: 120px;
  height: 120px;
  background: #2D5413;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  font-size: 20px;
}

@media screen and (max-width: 1599px) {
  #skills-section {
    padding-top: 70px;
    padding-bottom: 130px;
  }
}