.project-item {
  position: relative;
  height: 430px;
  border: 1px solid #000000;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.5;
}

.project-item,
.project-item img {
  border-radius: 5px;
}

.project-item-hover-info {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #83A26C;
  padding: 60px 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

.project-item:hover .project-item-hover-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item-hover-info h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.project-item-hover-info .technologies {
  font-size: 18px;
}

.project-item-hover-info .description {
  font-size: 20px;
}

.project-item-links {
  display: flex;
  justify-content: space-between;
}

.project-item-links a {
  font-size: 18px;
  background: #2D5413;
  border: 2px solid #2D5413;
  border-radius: 5px;
  padding: 7px 0;
  width: 140px;
}

.project-item-links a:hover {
  background: transparent;
  color: #ffffff;
}