#about-section {
  padding: 55px 0;
  background-color: #83A26C;
}

#about-section>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 60%;
  text-align: left;
  color: #ffffff;
}

.about-text p {
  margin-top: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.about-photo {
  width: 35%;
}

.about-photo--mobile img,
.about-photo img {
  margin: auto;
  max-width: 100%;
}

.about-photo--mobile {
  display: none;
}

@media screen and (max-width: 1599px) {
  .about-text p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1199px) {
  .about-text p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  #about-section {
    padding: 30px 0;
  }

  #about-section>.container {
    justify-content: center;
  }

  .about-photo--mobile {
    display: block;
    width: 55%;
    margin: 25px auto;
  }

  .about-photo {
    display: none;
  }

  .about-text p {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .about-text {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 475px) {
  .about-text {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #about-section {
    padding: 20px 0;
  }

  .about-photo--mobile {
    width: 50%;
    margin: 20px auto;
  }

  .about-text p {
    font-size: 13px;
    line-height: 18px;
  }
}