#about-section {
  padding: 55px 0;
  background-color: #83A26C;
}

#about-section>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  width: 60%;
  text-align: left;
  color: #ffffff;
}

.about-text p {
  margin-top: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.about-photo {
  width: 35%;
}

.about-photo img {
  margin: auto;
  max-width: 100%;
}

@media screen and (max-width: 1599px) {
  .about-text p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 28px;
  }
}